$blue: #687bf7;
$lightblue: #72d9ef;
$cyan: #79e7eb;

html {

  box-sizing: border-box;

  *:not(img), *:before, *:after { box-sizing: inherit; }

  color: #333;
  font: 0.7em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  @media (min-width: 500px) {
    font-size: 1em;
  }

  background: #1d1e21;

}

body {
  margin: 0;
}

.App {

  

    background: white;
    border-radius: 15px;
    padding: 0.9em;
    max-width: 600px;
    margin: 10vh auto 0;

  form {
    border: 1px black solid;
  }

  ul {

    border: black 1px solid;



    &:hover {
      box-shadow: 4px 4px 50px rgba(#687bf7, 0.6);
    }

    .itemLi {

      list-style-type: none;
      height: 60px;
      display: flex;
      align-items: center;
      border-radius: 7px;

      > div:first-of-type {
        text-align: center;
        display: inline-block;
        width: 3em;
      }


      > div:nth-of-type(2){

        flex: 1;
        margin-right: 10px;

        input {
          //TODO: Investigate why I can't use flex
          width: 90%;
        }

        i {
          margin-left: 5px;
        }


        span {
          &.barred {
            text-decoration: line-through;
          }
        }
      }

      > div:last-of-type {
        margin-left: auto;
        margin-right: 1em;


        button {
          all: unset;
          cursor: pointer;
          i {
            color: red;
          }
        }

      }

      &:hover {
        background: linear-gradient(to left, $blue, $lightblue);
        color: white;
      }
      
    }

  }



}
